/* Add here all your css styles (customizations) */
.props_radio_div {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
}

.remove-prop {
	margin-top: 20px;
	float: left;
}

.add_prop_link {
}

.inputProp{
	border-color: #bbb;
	border-width: 1px;
    font-size: 14px;
    color: #404040;
    resize: vertical;
    height: auto;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 39px;
    padding: 6px 10px;
    outline: none;
    border-style: solid;
    border-radius: 0;
    background: #fff;
    font: 15px/23px 'Open Sans', Helvetica, Arial, sans-serif;
    color: #404040;
    appearance: normal;
}

li {
	list-style-type: none;
}