{% extends "WFUserBundle::layoutProfile.html.twig" %}



{% block fos_user_content %}
	<div class="row">
	  <div class="col-sm-12">test1</div>
	  
	</div>
	<div class="row">
	  <div class="col-sm-12">test1</div>
	  
	</div>
	<div class="row">
	  <div class="col-sm-12">test1</div>
	  
	</div>
  
{% endblock fos_user_content %}